<section class="row">
    <div class="col-md-9">
        <h1 class="title" *ngIf="title" id="centerxd">Ficha de identificación</h1>
    </div>
    <div class="col-md-3">
        <p class="fecha center" id="fecha"></p>

    </div>
</section>

<section class="container-fluid">

    <div class="card" name="card" id="card">
        <br>
        <div class="row">

            <div class="col margin-info">
                <p> <span>  Nombre Completo: {{ pacienteInfo.nombrePaciente | uppercase  }} {{ pacienteInfo.apellidoPaterno | uppercase  }} {{ pacienteInfo.apellidoMaterno | uppercase  }} </span> </p>
            </div>
            <div class="col">
                <p> <span> Edad: {{ pacienteInfo.edad }} </span> </p>
            </div>
            <div class="col">
                <p> <span> Género: {{pacienteInfo.genero | uppercase  }} </span> </p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-left: 40px;">
                <p>Domicilio: {{ pacienteInfo.callePaciente | uppercase }} {{pacienteInfo.estadoPaciente | uppercase }} {{ pacienteInfo.paisPaciente | uppercase }} </p>
            </div>
            <div class="col">
                <p>Fecha de Nacimiento: {{pacienteInfo.fechaNacimientoPaciente}} </p>
            </div>
            <div class="col">
                <p>Lugar de Nacimiento: {{ pacienteInfo.estadoPaciente | uppercase }} {{ pacienteInfo.paisPaciente | uppercase }} </p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-left: 40px;">
                <p>Teléfono: {{ pacienteInfo.telefono }} </p>
            </div>
            <div class="col"></div>
            <div class="col">
                <p> ID: {{ pacienteInfo._id }} </p>
            </div>

        </div>


    </div>
</section>