<div class="container-fluid">
    <h1 h1 class="centerxd">HOJA DE SERVICIO</h1>
</div>

<section class="row">
    <div class="col-md-12">
        <ficha-info-user [pacienteInfo]="paciente"></ficha-info-user>
    </div>
</section>


<div class="center">
    <section style="padding-left: 3.5rem; padding-right: 3.5rem;">
        <div class="card" name="card" id="card" style="border-radius: 30px;">
            <div class="card-header header">
                <div class="row">
                    <div class="col text_header">
                        <p> # </p>
                    </div>
                    <div class="col text_header">
                        <p>Nombre Estudio</p>
                    </div>
                    <div class="col text_header">
                        <p>Estado</p>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div *ngFor="let x of estudios.estudios; let i = index">
                    <div class="row">

                        <div class="col color">
                            <p [routerLink]="['/reporte/rayos/x', x.idEstudio]" (click)="grabarestudioXray()"> {{ i +1 }} </p>
                        </div>

                        <div class="col color">
                            <p [routerLink]="['/reporte/rayos/x', x.idEstudio]" (click)="grabarestudioXray()"> {{x.nombreEstudio}} </p>
                        </div>

                        <div class="col color">
                            <p [routerLink]="['/reporte/rayos/x', x.idEstudio]" (click)="grabarestudioXray()"> {{estudios.prioridad}} </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<!--codigo anterior-->
<!--<section class="row">
    <div class="col-md-12">
        <ficha-info-user [pacienteInfo]="paciente"></ficha-info-user>
    </div>
</section>
<br>
<div class="divaSVY">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover color izq" id="bitacora">
                <thead class="center theadSVY">
                    <tr style="color: white;">
                        <th scope="col"> # </th>
                        <th scope="col"> Nombre de Estudio </th>
                        <th scope="col"> Estado </th>
                    </tr>
                </thead>
                <tbody class="center tbodySVY">
                    <tr *ngFor="let x of estudios.estudios; let i = index">
                        <th> {{i +1}} </th>
                        <th [routerLink]="['/reporte/rayos/x', x.idEstudio]" (click)="grabarestudioXray()"> {{x.nombreEstudio}} </th>
                        <th> {{estudios.prioridad}} </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->