.divaSVY {
    overflow-x: scroll;
    height: 13rem;
}

.theadSVY {
    background-color: #03318C;
}

.tbodySVY {
    background-color: white;
    color: black;
}

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 3em;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}