.chat {
    /*height: 400px;
    width: 400px;*/
    display: block;
}

.chat-header {
    width: 100%;
    height: 15px;
    margin: 10px auto;
    border-radius: 5px;
}

.chat-body {
    height: 300px;
    width: 90%;
    margin: 3px auto;
    border: 1px solid #9c9c9c;
    border-radius: 9px;
    overflow-y: scroll;
    margin-bottom: .2em;
}

.chat-body::-webkit-scrollbar {
    width: 7px;
    background-color: #9c9c9c;
    border-radius: 5px;
}

.chat-message {
    margin-left: -30px;
    margin-top: 15px;
    height: 50px;
    width: 123%;
}

.chat-input {
    width: 100%;
    margin-left: 5px;
    display: inline-block;
}

.btn-chat {
    /*width: 100%;*/
    border-radius: 50px;
    /*margin-left: 5px;*/
}

.message-card {
    background-color: #f8f9fc;
    color: #212529;
    width: 80%;
    font-weight: 200;
    margin-left: 15%;
    display: inline-block;
    text-align: left;
    padding: 5px;
    margin: 0px 40px 5px 10px;
    border-radius: 10px;
}

.message-card-reci{
    background-color: #4ec0e4;
    color: #212529;
    font-weight: 200;
    width: 55%;
    margin-left: auto;
    display: inline-block;
    text-align: right;
    padding: 5px;
    margin: 0px 10px 5px 100px;
    border-radius: 10px;
}
.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  

.horaMessage {
    font-weight: 100;
    font-size: .6rem;
    width: 50%;
    margin-left: 3%;
}

.conversacion {
    width: 100%;
    height: auto;
    color: warning
}

.text-warning {
    width: 100%;
    height: auto;
    margin-bottom: .3em;
    font-size: 1.1em;
}

.container-membres {
    margin-bottom: .5em;
    color: white;
    cursor: pointer;
    width: auto;
    height: auto;
}

.container-membres {
    /* overflow-y: scroll; */
    margin-bottom: .3em;
}

/*
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .modal-dialog{
        max-width: 500px;
        margin: 22rem 0rem 0rem 16rem;
    }
}
@media (min-width: 1280px) and (max-height: 900px){
	.modal-dialog{
        max-width: 500px;
        margin: 18rem 0rem 0rem 25rem;
    }

}
  
@media (min-width: 2160px) and (max-height: 1440px){
	.modal-dialog{
        max-width: 500px;
        margin: 52rem 0rem 0rem 80rem;
    }
}

@media (min-width: 1920px) and (max-height: 1200px){
    .modal-dialog{
        max-width: 500px;
        margin: 37rem 0rem 0rem 65rem;
    }

}
@media (min-width: 1440px) and (max-height: 900px){
.modal-dialog{
    max-width: 500px;
    margin: 18rem 0rem 0rem 35rem;
}
}
@media (min-width: 1680px) and (max-height: 1050px){
    .modal-dialog{
        max-width: 500px;
        margin: 28rem 0rem 0rem 50rem;
    }
}
@media (min-width: 1920px) and (max-height: 1280px){
    .modal-dialog{
        max-width: 500px;
        margin: 42rem 0rem 0rem 65rem;
    }

}

@media (min-width: 2736px) and (max-height: 1824px){
    .modal-dialog{
        max-width: 500px;
        margin: 76rem 0rem 0rem 116rem;
    }

}

@media (min-width: 3840px) and (max-height: 2600px){
    .modal-dialog{
        max-width: 500px;
        margin: 125rem 0rem 0rem 185rem;
    }
}
*/