<form action="" enctype="multipart/form-data">
    <div class="container">
        <h1 class="centerxd">REPORTE RAYOS X</h1>

        <div class="col-md">
            <ficha-info-user [pacienteInfo]="paciente"></ficha-info-user>

        </div>

        <!--cambios-->
        <div class="card">
            <div class="row center">
                <div class="" style="width: 1200px;">
                    <div class="form-group row">
                        <h4 class="col centerxd" style="margin-left: 1rem;">
                            {{xray.ESTUDIO}}
                        </h4>
                    </div>

                </div>

                <h5 class="col mt-4" style="margin-left: 1rem;">
                    INTERPRETACION:
                </h5>
                <br>
                <div class="mt-3">
                    <textarea [(ngModel)]="holiwis" class="txtarea form-control" name="macho" id="campo" cols="120" rows="10" autocapitalize="characters" autocomplete="on" class="textUSG">
                {{holiwis}}
                </textarea>

                </div>
                <br>
                <h5 class="col mt-4" style="margin-left: 1rem;">
                    DIAGNOSTICO:
                </h5>
                <div class="form-group mt-3">
                    <!-- onkeyup="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" -->
                    <textarea [(ngModel)]="diagnostico" class="txtarea form-control" name="diag" id="camo" cols="120" rows="2" autocapitalize="characters" autocomplete="on" class="textUSG">
                
                </textarea>

                </div>


            </div>

            <h3 class="mt-2 center"> IMAGENES</h3>


            <ngx-dropzone name="imageUrl" (change)="onSelect($event)">
                <ngx-dropzone-label>Arrastra las imagenes !</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
            </ngx-dropzone>

            <h5 class="col mt-4" style="margin-left: 1rem;">
                OBSERVACIÓNES:
            </h5>

            <div class="form-group mt-3">
                <!-- onkeyup="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" -->
                <textarea [(ngModel)]="obs" class="txtarea form-control" name="diag" id="camo" cols="120" rows="2" autocapitalize="characters" autocomplete="on" class="textUSG">
            
            </textarea>

            </div>

            <div class="center">
                <button class="btn btn-success mt-3" (click)="enviarReporteXray()"> Guardar y Enviar Reporte</button>
            </div>

        </div>
        <!---final card-->
    </div>
</form>