h2 {
    color: var(--principal-text);
    font-weight: 700;
    margin-bottom: .8rem;
    font-size: 1.9rem;
}
.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}