<app-bitacora-ultrasonidos *ngIf="servicios == 'ultrasonido'"></app-bitacora-ultrasonidos>
<app-regresos-lab *ngIf="servicios == 'laboratorio'"></app-regresos-lab>
<app-bitacora-rayosx *ngIf="servicios == 'xray'"></app-bitacora-rayosx>