.btnSVY{
    margin: 2rem;
}

.lbSVY{
    text-align: left;
    margin-left: 2rem;
}

.txtSVY{
    border-radius: 15px;
    border-color: #e3e3e3;
    margin-left: 1rem;
    text-transform: uppercase;
}

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 3em;
    font-size: 1em;
    padding: 1.5em 3rem;
    margin: 0;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}