.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-right: 15em;
}

.card {
    border-radius: 3rem;
    background-color: white;
    box-shadow: 30px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 50px 80px;
}

#centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}

.btn {
    margin-left: 47%;
    border-radius: 120px;
    background-color: yellow;
    margin-block-end: 10px;
}

.form-group {
    margin-top: 5px;
    margin-right: 3px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
    margin-top: .5rem;
}

label {
    margin: .1rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1.1rem;
}

.principalButton {
    color: white;
    font-size: 1.3rem;
}

button {
    color: --button-package;
    /* display: block; */
}