.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-right: 15em;
}

#card {
    border-radius: 3rem;
    background-color: white;
    box-shadow: 30px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 50px 80px;
    width: 100%;
}

.center {
    margin-left: auto;
    font-size: 25px;
}

.principalButton {
    margin-left: 58%;
    padding: 0.5rem;
}

.form-control {
    box-shadow: 40px 20px 30px -8px rgba(196, 192, 196, 1);
}