<!-- SE CREO EL LISTADO DE PACIENTE -->

<div class="container-fluid">
    <h1 h1 class="centerxd"> LISTADO DE PACIENTES</h1>

</div>

<section class="row">
    <div class="col-md">
        <input style="margin-left: 2rem;" class="form-control" type="text" placeholder="Buscar Paciente...">
    </div>

    <div class="col-md offset-md-5">
        <button class="btn" style="color: aliceblue; " (click)="imp()">IMPRIMIR</button>

    </div>

</section>




<div class="center">
    <section>
        <div class="card" style="border-radius: 30px;">
            <div class="card-header header">
                <div class="row">
                    <div class="col text_header">
                        <p> # </p>
                    </div>
                    <div class="col text_header">
                        <p>Fecha</p>
                    </div>
                    <div class="col text_header">
                        <p>Nombre</p>
                    </div>
                    <div class="col text_header">
                        <p>Género</p>
                    </div>
                    <div class="col text_header">
                        <p>Edad</p>
                    </div>
                    <div class="col text_header">
                        <p>Médico tratante</p>
                    </div>


                </div>
            </div>

            <div class="card-body">
                <div class="row clicksss" *ngFor="let item of consultas | paginate:{id:'listaAmbulancia',
                    itemsPerPage: 8 ,
                    currentPage:pagina,
                    totalItems:totalAmbulancia} ; let i = index">

                    <div class="col color">
                        <p> {{ i +1 }} </p>
                    </div>

                    <div class="col color">
                        <p> {{ item.fechaIngreso }} </p>
                    </div>

                    <div class="col color">
                        <p [routerLink]="['/ficha-enfermeria-01', item._id]"> {{ item.paciente.nombrePaciente | uppercase }} {{ item.paciente.apellidoPaterno | uppercase }} {{ item.paciente.apellidoMaterno | uppercase }} </p>
                    </div>

                    <div class="col color">
                        <p> {{ item.paciente.genero | uppercase }} </p>
                    </div>


                    <div class="col color">
                        <p> {{ item.paciente.edad }} </p>
                    </div>



                    <div class="col color">
                        <p> {{ item.medicoTrante }} </p>
                    </div>


                </div>
            </div>
            <div class="offset-md-1">
                <pagination-controls class="paginador" id="listaAmbulancia" maxSize="10" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
            </div>
        </div>
    </section>


</div>