.text-principal {
    font-weight: 800;
    text-transform: uppercase;
}

.text_header {
    text-align: center;
    margin-top: 1.4rem;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
}

.header {
    background-color: #03318C;
    border-radius: 1.8rem 1.8rem 0 0;
}

.color {
    color: #3176df;
    font-weight: 500;
    font-size: 1.5rem;
}