/* .centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}*/

.btnSVY {
    width: 8rem;
}

.btn2SVY {
    width: 8rem;
    margin-left: 6%;
    margin-top: 1px;
}


/* .card {
    margin: 0 auto;
    border-color: white;
    border-radius: 6em; 
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    height: 17em; 
    width: 95%;
    margin-bottom: 3em;
    display: inline-block !important;
    background-color: #03318C;
} */

.center {
    background-color: #03318C;
}

.centerxd {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}