<div class="row">
    <div class="col-md-8">
        <h1 class="centerxd"> HISTÓRICO DE ESTUDIOS DE RAYOS X </h1>

    </div>
</div>

<br>

<div class="card divaSVY">
    <div class="row">
        <div class="col-md-12">
            <table class="table table hover colors izq" id="historyTab">
                <thead class="center theadSVY">
                    <tr class="trSVY">
                        <th scope="col"> # </th>
                        <th scope="col"> NOMBRE DEL ESTUDIO </th>
                        <th scope="col"> ACCIONES </th>
                    </tr>
                </thead>
                <tbody class="center tbodySVY">
                    <tr *ngFor="let xray of Xary; let i = index">
                        <td> {{i + 1}} </td>
                        <td> {{xray.ESTUDIO}} </td>
                        <td>
                            <div class="col">
                                <button type="button" class="btn btn-success btnSVY" [routerLink]="['/formulario/rayos/x', xray._id]">
                                EDITAR
                            </button>
                                <!-- <button type="button" class="btn btn-danger btnSVY btn2SVY">
                                BORRAR
                            </button> -->
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>