/* .h1SVY {
    text-align: left;
} */

.divaSVY {
    border-radius: 30px;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 3rem;
}

.theadSVY {
    background-color: #03318C;
}

.trSVY {
    color: white;
}

.tbodySVY {
    background-color: white;
    color: black;
}

.btnSVY {
    width: 8rem;
}

.btn2SVY {
    width: 8rem;
    margin-left: 2%;
    margin-top: 1px;
}