<form #form="ngForm">
    <h1 class="centerxd">HISTÓRICO DE ESTUDIOS</h1>
    <section class="row" class="container-fluid">
        <div class="col-md-12">
            <ficha-info-user [pacienteInfo]="paciente"></ficha-info-user>

        </div>
    </section>

    <div class="card">
        <!--<div class="card">-->
        <div class="form-group row centerxd">
            <label class="col col-form-label">NOMBRE ESTUDIO: {{ pedido.ESTUDIO}} </label>
        </div>

        <!-- <div class="col">
            <select [(ngModel)]="estadoE.estado" name="estado" id="estado" required (change)="validarSelect()" class="form-control"> 
                 <option  *ngFor="let resul of process" [value]="resul.valor"> {{resul.estado}} </option> 
                <option value="">SELECCIONE ESTADO</option>
                <option value="proceso"> PROCESO</option>
                <option  value="finalizado">FINALIZADO</option>
                <option value="sin muestra">SIN MUESTRA</option>
                <option value="muestra insuficiente"> MUESTRA INSUFICIENTE</option>
             </select>
        </div> -->

        <div class="form-group row">
            <label class="col-4 col-form-label">ELEMENTOS</label>
            <label class="col-4 col-form-label">OBTENIDO</label>
            <label class="col-4 col-form-label">VALORES DE REFERENCIA</label>
        </div>
        <!--</div>-->

        <div class="form-group row" *ngFor="let item of pedido.ELEMENTOS; let i = index">
            <div class="col-4 col-form-label">

                <label class="col col-form-label">{{ item.elementos}}</label>
            </div>
            <div class="col-4 col-form-label">
                <input required class="form-control" (click)="validarSe()" ngModel type="text" [name]="'obtenido'+i" id="" class="form-control">
            </div>
            <div class="col-md col-form-label" *ngFor="let ref of item.referencia">
                <label class="col-md col-form-label">{{ ref.referencia}}</label>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label class="col-5 col-form-label">&nbsp;</label>
            <div class="input-group col-md-2">
                <button type="submit" (click)="enviarObtenido(  form )" class="btn btn-outline-primary btn-block" [disabled]="activar == false" class="form-control">
          GUARDAR
    </button>
            </div>
        </div>
        <h4>QUIMICO: {{ usuario.nombre}}</h4>
    </div>
</form>