h1,
p,
h3,
h4,
h5 {
    color: var(--principal-text);
    padding-bottom: .3rem;
}

.title,
.fecha,
span {
    font-weight: 800;
    color: #001672;
}

p {
    color: #001672;
}

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 3em;
}

.margin-info {
    margin-left: 40px;
}

.font-bold {
    font-weight: 800;
}