/* .allMinus {
    text-transform: lowercase;
    font-size: 8px;
} */

.principalButton {
    color: white;
    font-size: 1.3rem;
}

.centerxd {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 15px;
}

.histo {
    text-transform: uppercase;
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
    margin-left: 80%;
    text-decoration: none;
}

a:hover {
    background-color: #6f8af5;
    color: #ffffff;
    /* margin: 10px 5px; */
}