#card{
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196,192,196,1);
    margin: 0px 80px;
}
#centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}
