.inputsPediatria input {
    max-width: 100%;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 15px !important;
    border-color: var(--principal-text);
    text-align: center;
    margin-right: 2rem;
}

.inputsPediatria input:last-of-type {
    margin-right: 0;
}