.consultorioxd {
    /*float: right;*/
    margin-right: 1rem;
    max-width: 7 rem;
}

.modal-header {
    width: 100%;
}

.containerFI {
    display: flex;
    justify-content: space-between;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 15px;
}

.boton_contra2 {
    border-radius: 3em !important;
    width: 12em !important;
    background-color: #E3D049;
    border-color: #E3D049;
}


/*
.consultorioxd:first-of-type {
  margin-left: rem;
} */


/*.consultorioxd:last-of-type {
    margin-left: 9rem;
}*/

.cardxd {
    margin-top: 2rem;
}

.secondaryButton {
    padding: 0.4rem;
    color: white;
}

.tabla-header {
    color: #001672;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.searchInput {
    margin-top: 2rem;
    width: 277;
    margin-right: 3rem;
}

.selectStyle {
    text-align-last: center;
}

.dupla {
    margin-right: 3rem;
}

.timexD {
    margin-top: 1rem;
    margin-left: .5rem;
}


/* .btnNuevo {
  float: right;
} */