.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    /* margin-left: 15px; */
}

.col, p{
    overflow-wrap: break-word;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
}