<section class="row">
    <div class="col">
        <h1 class="centerxd" id="centerxd">HOJA DE CONSUMO AL DÍA</h1>
    </div>
</section>

<br>

<section class="container-fluid">

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <p style="color: #001672;"> <span class="font-bold"> Nombre: {{paciente.nombrePaciente}} {{paciente.apellidoPaterno}} {{paciente.apellidoMaterno}} </span> </p>
                </div>

                <div class="col-md-4">
                    <p style="color: #001672;">Edad: {{ paciente.edad }} años </p>
                </div>

                <div class="col-md-4">
                    <p style="color: #001672;">Género: {{ paciente.genero }} </p>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <p style="color: #001672;"> Teléfono: {{ paciente.telefono }} </p>
                </div>


                <div class="col-md-4">
                    <p style="color: #001672;">ID: {{ paciente._id }} </p>
                </div>


            </div>

            <div class="row">

                <div class="col-md-4">
                    <p style="color: #001672;">Fecha de nacimiento: {{paciente.fechaNacimientoPaciente}} </p>
                </div>
                <div class="col-md-4">
                    <p style="color: #001672;">Lugar de naciemiento: {{ paciente.paisPaciente }} </p>
                </div>
                <div class="col-md-4">
                    <p style="color: #001672;">Tipo de sangre: O+</p>
                </div>

            </div>
        </div>
    </div>

</section>

<br>

<section class="container-fluid">
    <div class="card">
        <div class="card-header header">
            <div class="row">
                <div class="col-1 text_header">
                    <p>No</p>
                </div>
                <div class="col text_header">
                    <p>Producto o servicio</p>
                </div>
                <div class="col text_header">
                    <p>Precio</p>
                </div>
                <div class="col text_header">
                    <p> Fecha</p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="row" *ngFor="let item of pedidos.estudios; let i = index">

                <div class="col-1 text-center">
                    <p style="color: #001672;"> {{ i +1 }} </p>
                </div>
                <div class="col text-center">
                    <p style="color: #001672;"> {{ item.nombreEstudio }} </p>
                </div>
                <div class="col text-center" *ngIf="pedidos.compraConMembresia">
                    <p style="color: #001672;"> {{ item.precio | currency }} </p>
                </div>
                <div class="col text-center" *ngIf="!pedidos.compraConMembresia">
                    <p style="color: #001672;"> {{ item.precioSin | currency }} </p>
                </div>
                <div class="col text-center">
                    <p> {{ pedidos.fecha | date }}</p>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="col-md-12">
                <p class="center"> TOTAL: $ {{ pedidos.totalCompra }} </p>
            </div>
        </div>
    </div>
</section>