.fa,
.fas {
    text-align: center;
    margin-left: 8%;
}
.card{
    box-shadow: 3px 3px 10px gray;
}
.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}

.boton_contra2 {
    border-radius: 3em !important;
    width: 12em !important;
    /* // color: #00BBF1; */
    background-color: #E3D049;
    border-color: #E3D049;
}

.header {
    background-color: #03318C;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.text_header {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    font-weight: 600;
    color: white;
}

a>i {
    color: blue;
}

a {
    cursor: pointer;
}

.table {
    /* // position: fixed; */
    overflow: scroll;
}

.pagination {
    margin-top: 5%;
}

.fa-arrow-left,
.fa-arrow-right {
    font-size: 2.3rem;
}

.btn,
.btn-info {
    width: 28%;
    margin-left: 2%;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.4rem;
    height: auto;
    margin-bottom: 1%;
}

.search-paciente {
    display: inline-block;
    width: 70%;
    font-weight: 400;
    font-size: 1rem;
}

@media(max-width:575px) {}

@media (min-width: 576px) and (max-width:767px) {}

@media (min-width: 768px) and (max-width:991px) {}

@media (min-width: 992px) and (max-width:1199px) {}

@media (min-width: 1200px) {}