.ahorro {
    font-size: 2rem;
    color: green;
}

#boton_contra2 {
    margin-left: 95%;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}