.btn-danger {
    border-radius: 30px;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}

#tabla {
    margin-top: 10px;
}

.card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 0px 80px;
    width: 90%;
    overflow-x: 60px;
}

.card::-webkit-scrollbar {
    width: 0;
}

.form-control {
    box-shadow: 40px 20px 30px -8px rgba(196, 192, 196, 1);
}