h1,
p,
h3,
h4,
h5 {
    color: var(--principal-text);
    padding-bottom: .3rem;
}

.marginRight {
    margin-left: 0.8rem;
}

app-header-receta {
    width: 100%;
}

li {
    list-style: none;
}

tr {
    width: 100%;
}

.first-medicine {
    margin-top: .5rem;
}

.principalButton {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

a {
    border-bottom: 1px solid blue;
    color: blue;
}

.iz {
    text-align: left;
}

.nuevoMedicamento {
    display: inline-block;
    color: black;
    margin-top: 0.4rem;
}

.btn {
    background-color: var(--button-principal);
    color: white;
}

.btn-secondary {
    background-color: var(--button-secondary);
    color: white;
}

.btn-indicaciones {
    max-width: 100%;
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.strongText {
    padding-bottom: 0;
}

input {
    width: 100%;
    border: 1px solid;
    border-radius: .3rem;
}

.btn-receta {
    display: inline-block;
    width: 20%;
    max-width: 45%;
    margin-top: 0.7rem;
}

textarea,
input {
    border-color: var(--principal-text);
}

.head-container {
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 2px 3px 14px 3px rgba(0, 0, 0, 0.75);
    padding: 1rem;
}

.modal-medicamento {
    width: 70rem;
    margin-left: -9rem;
}

.inModalS,
input {
    margin-top: -2rem;
}

span {
    font-weight: 700;
    font-size: 1.1rem;
    color: #000000;
}

.txt-area {
    border-radius: 10px;
    border: 1px solid #1558bd;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    /* font-weight: 600; */
    padding: 15px;
    /* border-block-style: none; */
    margin-top: 0.3rem;
    text-align: center;
}

.buttons {
    margin-left: 1rem;
}

.btn-delete {
    border-bottom: none;
}

.btn-reverso {
    /* display: inline-flex; */
    margin-bottom: .1rem;
}

.inputStyle {
    border-radius: 10px;
    border: 1px solid #1558bd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: 400;
    margin-top: 1rem;
}

.der {
    margin-right: -1rem;
}

.inputMedicamento {
    width: 100%!important;
}

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 3em;
    font-size: 1em;
    padding: 1.5em 3rem;
    margin: 0;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}

.dividir {
    display: inline-block;
}