<!-- SE DIERON ESTILOS A LA TARJETA, PARA AGREGAR UN NUEVO MEDICAMENTO -->

<div>
    <h1 class="cent">AGREGAR NUEVO MEDICAMENTO</h1>
</div>

<div class="card">
    <div class="row">
        <div style="margin-top: 3%;" class="col-md-3">
            <label for="nombreComercial" style="color: #001672;" class="name">Nombre Comercial:</label>
            <input type="text " style="margin: 2 2 2 2; box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);" class="nc " (blur)="validarNombre() " name="nombreComercial " [(ngModel)]="medicamento.nombreComercial ">
        </div>

        <div style="margin-top: 3%; " class=" col-md-3 ">
            <label for="sustanciaActiva " style="color: #001672; " class="noms ">Nombre De La Sal ó Sustancia Activa:</label>
            <input type="text " style=" margin: 2rem 2 2rem 0; box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1); " class="nsc " name="nombreDeSalOsustanciaActiva " [(ngModel)]="medicamento.nombreDeSalOsustanciaActiva ">
        </div>

        <div style="margin-top: 3%; " class="col-md-3 ">
            <label for="presentacio " style="color: #001672; " class="pre ">Presentación:</label>
            <input type="text " style=" margin: 2rem 2 2rem 0; box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1); " class="prese " name="presentacion " [(ngModel)]="medicamento.presentacio ">
        </div>

        <div style="margin-top: 3%; " class="col-md-3 ">
            <label for="contenido " style="color: #001672; " class="con ">Contenido del frasco:</label>
            <input type="text " style=" margin: 2rem 2 2rem 0; box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1); " class="cont " name="contenido " [(ngModel)]="medicamento.contenidoFrasco ">
        </div>

        <div style="margin-top: 5%; " class="col-md-3 ">
            <label for="viaAdmon " style="color: #001672; " class="via ">Vía de Administración:</label>
            <input type="text " style=" margin-top:4%; margin: 2rem 2 2rem 0; box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);" class="viad " name="viaDeAdministracion " [(ngModel)]="medicamento.viaDeAdministracion ">
        </div>

        <div style="margin-top: 5%; " class="col-md-2 ">
            <label for="lab " style="color: #001672; " class="lab ">Laboratorio:</label>
            <input type="text " style="margin-top:4%;  margin: 2rem 2 2rem 0; box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);" class="labo " name="laboratorio " [(ngModel)]="medicamento.laboratorio ">
        </div>

        <div style="margin-top: 5%; " class="col-md-2 ">
            <label for="lab " style="color: #001672; " class="fecha ">Fecha de Caducidad:</label>
            <input type="text " style="margin-top:4%; margin: 2rem 2 2rem 0; box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1); " class="fech " name="Fecha " [(ngModel)]="medicamento.fechaCaducidad ">

        </div>

        <div style="margin-top: 5%; " class="col-md-2 ">
            <label for="lote " style="color: #001672; " class="lote "> Lote: </label>
            <input [(ngModel)]="medicamento.lote " style=" margin-top:4%; margin: 2rem 2 2rem 0; box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);" class="lot " type="Folio ">
        </div>

        <div class="col-md-2 ">
            <button style="margin-right: 75%; " class="btn btn-block btn-info " [disabled]="btnGuardar " (click)="enviar() "> GUARDAR </button>
        </div>

    </div>
</div>