.izq {
    margin-left: 5rem;
}

.clickss {
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.clicksss:hover {
    cursor: pointer;
    background-color: #6c9ee9;
    color: #ffffff ! important;
}

.clicksss:hover p {
    color: #ffffff;
    font-weight: bold;
}

th {
    font-weight: 500;
}

.color {
    color: #3176df;
}


/* .clickss:hover {
  background-color: #3176df;
  color: #ffffff;
  font-weight: bold;
} */

.table-hover:hover {
    color: #ffffff;
}

.colors {
    background-color: #fa284b8e;
    color: #ffffff;
    font-weight: 500;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    /* margin-left: 100px; */
}

.header {
    background-color: #03318C;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.text_header {
    text-align: center;
    margin-top: 15px;
    color: white;
    font-weight: 600;
}

.nombre {
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.histo {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
    margin-right: 50px;
}

.btn {
    margin-left: 50%;
    border-radius: 120px;
    background-color: rgb(108, 238, 108);
    margin-block-end: 10px;
    padding: 0.7rem;
}