.centerxd {
    /* text-align: left; */
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}

.font {
    cursor: pointer;
}

.fecha {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
}

.center {
    margin-left: auto;
    font-size: 25px;
}

.header {
    background-color: #03318C;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}