<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="centerxd" id="centerxd">PROCESOS DE SERVICIOS</h1>
        </div>
        <div class="col">
            <h1 class="fecha" id="fecha"> {{ today }} </h1>
        </div>
    </div>
</section>

<br>

<section class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-header header">
                <div class="row">
                    <div class="col-md-12 text_header">
                        <p class="text-center">Servicios </p>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div>

                    <div class="col ">
                        <p class="font text-center" style="color: #001672;"> Utilidades por servicios</p>
                    </div>
                    <hr>
                    <div class="col">
                        <p class="font text-center" style="color: #001672;">Compras con utilidades</p>
                    </div>
                    <hr>
                    <div class="col" [routerLink]="['/utilidades/servicio']" routerLinkActive="router-link-active">
                        <p class="font text-center" style="color: #001672;">Orden de servicio</p>
                    </div>
                    <hr>
                    <div class="col">
                        <p class="font text-center" style="color: #001672;">Orden de servico por unidad</p>
                    </div>
                    <hr>
                    <div class="col" [routerLink]="['/sedes/servicio']">
                        <p class="font text-center" style="color: #001672;">Socios de canal</p>
                    </div>
                    <hr>
                </div>
            </div>

        </div>
    </div>

</section>