<form autocomplete="off" [formGroup]="forma">


    <div class="card">

        <div class="form-group row">
            <label class="col col-form-label">NOMBRE DEL ESTUDIO:    {{elementos.ESTUDIO}}</label>


        </div>

    </div>
    <br>
    <br>

    <div class="card">


        <div class="form-group row">
            <label class="col-md-3 col-form-label">ELEMENTOS</label>
            <label class="col-md-3 col-form-label">VALORES DE REFERENCIA</label>
            <label class="col-md-3 col-form-label">TIPO DE EXAMEN (GRUPOS)</label>
        </div>


        <div formArrayName="grupos" *ngFor="let entrada of grupos.controls ; let i =index">
            <div [formGroupName]="i" class="form-group row">

                <div class="col-3">
                    <input class="form-control" formControlName="elementos" type="text" name="nombre">
                </div>

                <div class="col-3" formArrayName="referencia" *ngFor="let item of entrada.controls['referencia'].controls; let j=index">
                    <div [formGroupName]="j" class="form-group row input-group m-3">
                        <input class="form-control" formControlName="referencia" type="text" [name]="j" aria-describedby="basic-addon2">
                        <span (click)="agregarRefer(i)" class="input-group-text" id="basic-addon2">+</span>
                        <!-- <button (click)="agregarRefer(i)">agregar</button> -->
                    </div>

                </div>

                <div class="col-3">
                    <input class="form-control" formControlName="tipo" type="text" name="tipoeamen">
                </div>




                <div class="col">
                    <button type="button" class="btn btn-success" (click)="agregarCampo()">+</button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-danger" (click)="borrarCampo(i)">-</button>

                </div>


            </div>

        </div>

        <div class="form-group row">
            <label class="col-5 col-form-label">&nbsp;</label>
            <div class="input-group col-md-2">
                <button (click)="enviarSave()" class="btn btn-outline-primary btn-block">
                    ENVIAR
                  </button>
            </div>
        </div>


    </div>




</form>