.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}

.font {
    color: #001672;
}

#card {
    border-radius: 2rem;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 0px 80px;
}

.fecha {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
}

.btn-info {
    color: white;
    border: 1px solid white;
    text-align: center;
    font-size: 1.1rem;
}

.center {
    margin-left: auto;
    font-size: 25px;
}

.btn {
    margin-right: 150%;
    border-radius: 120px;
    background-color: #E3D049;
    margin-block-end: 10px;
}

.Derecha {
    margin-right: 50rem;
}

span {
    font-weight: 700;
    margin-right: 0.3rem;
    font-size: 1.1rem;
}

.header {
    background-color: #03318C;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}