<h1 class="centerxd">HISTORICO DE ESTUDIOS DE ULTRASONIDO</h1>



<br>

<div class="card" style="border-radius: 30px;">

    <div class="row">
        <div class="col-md-12">


            <table class="table table-hover colors izq" id="bitacora">

                <thead class="center" style="background-color: #03318C;">

                    <tr style="color: white;">

                        <th scope="col"> No.</th>
                        <th scope="col"> NOMBRE DEL ESTUDIO </th>
                        <th scope="col"> ACCIONES</th>
                    </tr>




                </thead>

                <tbody class="center" style="background-color: white;color: black;">

                    <tr *ngFor="let ultra of usg; let i = index">



                        <td> {{i + 1}}</td>
                        <td> {{ultra.ESTUDIO}}</td>
                        <td>
                            <div class="col">
                                <button type="button" class="btn btn-success" [routerLink]="['/registro/elementos/ultrasonido', ultra._id]">editar</button>
                                <!-- <button type="button" class="btn btn-danger">eliminar</button> -->
                            </div>

                            <!-- <div class="col">
                                <button type="button" class="btn btn-danger">eliminar</button>

                            </div> -->

                        </td>



                    </tr>
                </tbody>

            </table>
        </div>


    </div>

</div>

<br>