p {
    color: var(--principal-text);
}

.card {
    padding: 0.5rem;
}

#card {
    margin: 0 auto;
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 95%;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 3rem;
}

ul>li {
    list-style: none;
}

.principalButton {
    background-color: var(--button-principal);
    color: white;
}

.second-button {
    background-color: var( --button-secondary);
    border: transparent;
    color: white;
    border-radius: 4rem;
}

.inputStyle {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #282788;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 2rem;
}

.modal-dialog {
    max-width: 95%;
    
}


.usg {
    display: flex;
    flex-wrap: row nowrap;
}

span {
    font-size: 1.2rem;
    font-weight: 700;
}