.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-right: 15em;
}

.card {
    border-radius: 3rem;
    background-color: white;
    box-shadow: 30px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 50px 80px;
    width: 100%;
}

.center {
    margin-left: auto;
    font-size: 25px;
}

.btn {
    margin-left: 75%;
    border-radius: 120px;
    background-color: yellow;
    margin-block-end: 10px;
}