#card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    width: 90%;
    margin-bottom: 2em;
}

#img2 {
    max-width: 65% !important;
    display: block;
    margin: auto;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 3rem;
}