pagination-controls {
    margin-left: 26rem;
}

.ahorro {
    color: green;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}


/* .btn-primary {
    margin-left: 120px;
} */

.btn-secondary {
    margin-left: 100%;
}

#card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 30px 80px;
}

.form-control {
    box-shadow: 40px 20px 30px -8px rgba(196, 192, 196, 1);
}

.cot {
    color: #001672;
}

.precio {
    color: #001672;
}

.anti {
    color: #001672;
}

.fe {
    color: #001672;
}